@model IEnumerable<Boreass.Models.DbModels.Areas>
@{
    ViewBag.Title = "Areas";
}
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<h2>Areas</h2>
<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>longitude</th>
        <th>langitude</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Langitude)
            </td>
        </tr>
    }
</table>